:root{
 --cor-fundo:#A9A9A9;
 --cor-principal:#000000;
 --cor-secundaria:#F0F8FF;
 --cor-destaque:#00FFFF;
 --cor-texto:#FFDEAD ; 
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
}